/* Importar arquivos */
@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);

/* Efeito entre as seções pag. */
html{
    scroll-behavior: smooth;
}

.content-nosso-time, .content-cursos, .content-faq, .content-contato{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: plum;
}

.content-nosso-time{
background-color: rgb(255, 221, 226);
display: flex;
justify-content: space-around;
align-items: center;

}

.content-cursos{
background-color: rgb(255, 221, 226);
}

.content-faq{
background-color: rgb(255, 221, 226);

}

.content-contato{
background-color: rgb(255, 221, 226);
}