/* Importar arquivos */
@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);

/* Efeito entre as seções pag. */
html{
    scroll-behavior: smooth;
}

.content-nosso-time, .content-cursos, .content-faq, .content-contanto{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;
}

.content-nosso-time{
background-color: rgb(255, 221, 226);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.content-cursos{

}

.content-faq{

}

.content-contanto{

}