/* header fixa no topo, largura 100%, com sombra e fundo branco */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /* altura do header */
    height: 10vh;
    background-color: pink;
    box-shadow: 0 2px 5px lightcoral;
  
    /*  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000; 
     }

    .header-menu ul {
  
        margin: 0;
        padding: 0;
        display: flex;
        /* espaço entre os itens */
        gap: 20px; 
      }

    .header-menu li {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
        box-shadow: 0 2px 4px white;
        /* evita a seleção de texto */
        user-select: none;

    }

    .header-menu li:hover{
        background-color: rgb(255, 141, 190);
        color: wheat;
        box-shadow: 0 4px 8px lightgray;

    }
    
    .header-login{
        display: flex;
        align-items:center;
        gap: 15px;

    }

    .header-icon img  {
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 5px white;
        
    }

    .header-search input {
        padding: 7px 12px;
        border: 1px solid ;
        border-radius: 20px;
        outline: none;
        transition: border-color 0.3s ease;
        width: 180px;

    }

    .header-search input:focus {
        border-color: plum;
        box-shadow: 0 0 8px lightpink;

    }

    
    